body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spectacle {
  min-width: 90%;
  height: 100vh;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 1px 1px 3px grey; */
  padding: 41px;
  /* background-image: linear-gradient(to top, grey , white); */
}

.row-description {
  color: white;
  text-shadow: 2px 2px 1px black;
}
