body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spectacle {
  min-width: 90%;
  height: 100vh;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 1px 1px 3px grey; */
  padding: 41px;
  /* background-image: linear-gradient(to top, grey , white); */
}

.row-description {
  color: white;
  text-shadow: 2px 2px 1px black;
  background-color: rgba(0,0,0, .5);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid white;
  margin-top: 10px;
  max-width: 59%;
  margin-bottom: 78px;
}

@media only screen and (max-width: 992px){
nav .brand-logo {
    left: 41%;
  }
}

@media screen and (max-width: 640px) {
  .deep-purple-text {
      font-size: 1.5rem !important;
  }
  .container.spectacle > h4 {
      font-size: 1.5rem;
  }
  .title-desc > p {
    font-size: 12px !important;
    color: black;
    background-color: rgba(255,255,255,.8);
    text-shadow: none;
  }
  .row-description {
    padding-bottom: 49px;
    background: none;
    max-width: 100%;
}
  .row-description > p {
    color: black;
    text-shadow: none;
  }
  div#playerMovie {
    max-width: 340px;
    max-height: 240px;
  }
  #background {
    background-position: top;
    height: 68vh;
  }
  .container-title {
    background-color: rgba(255,255,255,.7);
    box-shadow: 1px 1px 2px black;
    border: 1px solid #9640b7;
  }
  .container-title > h4 {
    font-size: 1.4rem;
  }
  .row.list-events {
    padding-right: 19px;
  }
  ul.event-header {
    width: 105.5%;
  }
}
